<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#/translations/{{project.id}}"><i class="fa fa-angle-double-left"></i>
                    Back</a>
            </div>

        </div><!-- /.container-fluid -->
    </nav>
</div>

<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="#/projects">Projects</a></li>
        <li><a href="#/translations/{{project.id}}">{{project.name}}</a></li>
        <li class="active">Import from: {{import_type}}</li>
    </ol>

    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
        <strong>Warning!</strong> Importing translations will overwrite the existing values for the selected project.
        This change is irreversible!
    </div>

    <form class="form-group">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Language</th>
                <th>File</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="language in languages">
                <td>{{language.name}} ({{language.iso_code}})</td>
                <td style="width: 80%">
                    <input type="file"
                           name="file"
                           id="file"
                           class="form-control"
                           data-language="{{language.id}}"
                           data-project="{{project.id}}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <button class="btn btn-primary btn-block" ng-click="upload()">Upload</button>
        </p>
    </form>
</div>
