<div class="container-fluid">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#/translations/{{project.id}}"><i class="fa fa-angle-double-left"></i> {{project.name}}</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-right" ng-submit="createKey()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="keyName" placeholder="New Key">
          </div>
          <button type="submit" class="btn btn-default">Save</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="#/projects">Projects</a></li>
    <li><a  href="#/translations/{{project.id}}">{{project.name}}</a></li>
    <li class="active">Hic</li>
  </ol>
</div>
<div class="container">
  <div class="row" style="padding-bottom: 15px">
    <form ng-submit="updateProjectTranslations()">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Key</th>
            <th>{{translations[0].language}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="translation in translations">
              <td><a href="#/translations/by-key/{{project.id}}/{{translation.project_key_id}}" role="button">{{translation.code}}</a></td>
              <td style="width:80%">
                <textarea class="form-control" ng-model="translation.value"
                          placeholder="No translation provided for '{{translation.code}}'"
                          name="description" id="projectDescription">{{translation.value}}</textarea>
              </td>
          </tr>
        </tbody>
      </table>
      <p><input type="submit" class="btn btn-primary btn-block" value="Save" /></p>
    </form>
  </div>
</div>
